@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: var(--primary-color) !important;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

/*===== Variable Define =====*/
:root {
    --primary-color: #A82C48;
    --secondry-color: #43121d;
    --third-color: #f98169;
    --white-color: #fff;
    --text-color: #555;
    --text-gray: #999;
    --black-color: #000;
    --primary-font: 'Roboto', sans-serif;
    --secondry-font: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}

/*
==========================================
   Custom CSS Design
==========================================
*/

h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--secondry-color);
}

h2 {
    font-weight: 700;
    font-size: 2.25rem;
    text-transform: capitalize;
    font-family: var(--secondry-font);
    color: var(--secondry-color);
    line-height: 3rem;

}

h4 {
    color: var(--secondry-color);
    font-family: var(--secondry-font);
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

h5 {
    color: var(--primary-color);
    text-transform: capitalize;
    font-family: var(--secondry-font);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 1px;
}



.main-btn {
    display: inline-block;
    padding: 0.6rem 1.8rem;
    line-height: 1.5rem;
    background-color: var(--primary-color);
    border: 0.2rem solid var(--primary-color);
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0);
    transition: all .4s ease-out 0s;
}

.text-content {
    width: 70%;
    margin: auto;
}

.wrapper {
    padding-top: 8.25rem;
    padding-bottom: 8.25rem;
}

.white-btn {
    padding: 0.6rem 1.8rem;
    line-height: 25px;
    background-color: var(--white-color);
    border: 0.2rem solid var(--white-color);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 0px 3px -1px;
    transition: all .4s ease-out 0s;
}

.main-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.white-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

/*======================================
    Header Design
=======================================*/

.navigation-wrap {
    position: fixed;
    width: 100%;
    /*else logo aur navlinks apni content width le rhi maybe coz of flex in display*/
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease-out;
}

.navigation-wrap .nav-item {
    padding: 0 0.6rem;
    /* 0.625rem = 10px */
}

.nav-link {
    font-size: 0.9375rem;
    letter-spacing: 1px;
    color: var(--primary-color);
    font-weight: 600;
    text-transform: capitalize;
}

.navigation-wrap .main-btn {
    padding: 0.3rem 1.4rem;
    box-shadow: none;
    margin-left: 0.6rem;
}

/*======================================
    top-banner Design
======================================*/

.top-banner {
    width: 100%;
    background: url(images/bg/bg-1.jpg) no-repeat center;
    background-size: cover;
    padding: 16.5rem 0 9.4rem;
}

/*=======================================
    Counter Design
=======================================*/

.counter-section {
    background-color: var(--primary-color);

}

.counter-section p,
.counter-section h2 {
    color: var(--white-color);
}

/*=========================================
 About Section
=========================================*/

.about-section {
    background: var(--white-color);
}

.about-section .card,
.about-section .card img {
    border-radius: 0.6rem;
}

.about-section .text-sec {
    padding-left: 2rem;
}

/*========================================
 food type section Design
========================================*/

.food-type {
    padding-top: 3.25rem;
}

.food-type ul li {
    font-size: 1rem;
    color: var(--text-color);
    line-height: 32px;
    position: relative;
    margin-left: 30px;
}

.food-type ul li::before {
    position: absolute;
    left: -2.2rem;
    color: var(--primary-color);
    font-size: 1.25rem;
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
}

/*========================================
 Story Section Design
========================================*/

.story-section {
    width: 100%;
    height: 28rem;
    padding-top: 100px;
    text-align: center;
    background: url(images/bg/bg-2.jpg) no-repeat center;
    background-size: cover;
}

.story-section h2 {
    color: var(--primary-color);
}

/*========================================
 explore food section Design
========================================*/

.explore-food .card {
    border: none;
    background-color: transparent;
}

.explore-food .card img {
    border-radius: 1rem;
    object-fit: cover;
}

.explore-food .card span {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #eee;
}

.explore-food .card span del {
    color: var(--text-gray);
    margin-left: 0.5rem;
}

/*========================================
 testimonial section Design
========================================*/

.testimonial-section {
    background-color: var(--primary-color);
}

.testimonial-section .carousel-item {
    margin-top: 3rem;
    padding: 10rem 3.1rem;
    background-color: var(--white-color);
    border-radius: 1em;
    text-align: center;
}

.testimonial-section .carousel-caption img {
    max-width: 5rem;
    border-radius: 50%;
    padding: 0.3rem;
}

.testimonial-section .carousel-item .carousel-caption p {
    font-size: 1.3rem;
    line-height: 2rem;
    padding: 0 11% 0.6rem;
}

.testimonial-section .carousel-indicators {
    bottom: -2.8rem;
}

.testimonial-section .carousel-indicators button {
    width: 15px;
    height: 15px;
    outline: none;
    border-radius: 50%;
    border: none;
    margin-right: 1rem;
    opacity: 0.2;
}

.testimonial-section .carousel-indicators button.active {
    opacity: 1;
}

.testimonial-section h2 {
    color: var(--white-color);
}

/*========================================
FAQ section Design
========================================*/

.faq h4 span {
    color: var(--primary-color);
    font-size: 1.8rem;
    margin-right: 0.3rem;
}

/*========================================
Book Food
========================================*/

.book-food {
    width: 100%;
    background: url('../images/bg/bg-3.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 4.4rem 0
}

.book-food h2 {
    color: var(--white-color);
}

/* Form Control */

.newsletter {
    width: 65%;
    margin: 0 auto;
}

.form-control {
    height: 3.2rem;
    padding: 0 1.25rem;
    font-size: 0.9rem;
    width: 100%;
    border-radius: 0;
    background: transparent;
    border: 0.2rem solid var(--text-gray);
    color: var(--black-color);
    font-weight: 700;
}

.newsletter .form-control:hover{
    outline: none;
    box-shadow: none;
    border-color: var(--primary-color);
}

/* Footer Section Design */

.footer {
    background: var(--primary-color);
}

.footer .footer-link {
    font-size: 1rem;
    color: var(--white-color);
    padding: 0 1.9rem;
}

.footer .footer-link:hover {
    color: var(--white-color) !important;
}

.footer a i {
    font-size: 1.5rem;
    color: var(--white-color);
    padding: 0 1rem;
}